<div class="col-md-4">
	<%=present_employee(employee)%>
	<!-- <h3><%= full_name(employee)%></h3> -->
	<p><strong>email:</strong> <%= employee.email%></p>
	<p>Lorem ipsum dolor sit amet, est animal voluptua ei, no eos dignissim incorrupte, ea viderer civibus pri. Ex erat nostro ocurreret sit. Est ei mutat delenit scaevola. Mei ad velit voluptua temporibus. Vero dolores eleifend quo ne, quo cu harum ignota postulant. Ex nec autem assum.

	Modus putant eripuit ea sit, cu singulis instructior his. Ea aeque vocibus eligendi vis, ex inani soleat officiis per, facilisi erroribus an mel. An lorem corpora scriptorem usu, mei volumus tacimates ei. Choro primis te duo, omnis nihil est ex, error labores referrentur eu vel. Ne pro quot facilisis salutatus.</p>
	<a href="/employees/<%=employee.id%>">Ver</a>
</div>